<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="time-date">
            <h2 id="digital-clock">00:00:00</h2>
            <h2 id="digital-calender">Weekday, Month DD, YYYY</h2>
        </div>
        <div class="loc-temp">
            <img src="<%=imageURL%>" id="weather-image">
            <h2 id="tempareture"><%= tempareture %> &#8451</h2>
            <h2 id="weather-discription"><%= weatherDescription %></h2>
            <h2 id="location"><img src="images/location-sign.svg" alt=""> Saharanpur, India</h2>
        </div>
        
       

    </div>

    <script src="script.js"></script>
</body>
</html>